input:-webkit-a

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-background-clip: text !important;
}

#checkout {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    color: black;
}

#cartBox {
    width: 60%;
    margin-left: 2px;
    border-radius: 5px;
}

/*The items below are created using JS*/

.cartItem {
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    min-width: 300px;
    background-color: rgb(224, 214, 149);
    color:black;
    padding: 10px;
    border: 3px solid rgb(176, 130, 101);
    border-radius: 25px;
    margin: 5px;
}

.rightInfo {
    display: flexbox;
    justify-content: space-between;
    box-sizing: content-box;
    min-width: 300px;
    text-align: center;
}

.nameBox {
    box-sizing: content-box;
    height:50%;
    border: 2px solid black;
    border-radius: 10px;
}

.bottomInfo {
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    margin-top: 5px;
}

.botLeftInfo {
    display: flex;
}

.addItem {
    width: 4vmin;
    text-align: center;
    font-size: 3.5vmin;
    border: 2px solid black;
    border-width: 2px 2px 2px 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.addItem:hover {
    background-color: rgb(230, 195, 135);
    cursor:pointer;
}

.fullItem {
    width: 4vmin;
    text-align: center;
    font-size: 3.5vmin;
    border: 2px solid rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
    border-width: 2px 2px 2px 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.fullItem:hover {
    background-color: rgb(224, 214, 149);
    cursor: not-allowed;
}

.countInput {
    width: 10vmin;
    background: none;
    text-align: center;
    font-size: 3.5vmin;
    border: 2px solid black;
    border-width: 2px 1px 2px 1px;
}

.removeItem {
    width: 4vmin;
    text-align: center;
    font-size: 3.5vmin;
    border: 2px solid black;
    border-width: 2px 1px 2px 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.removeItem:hover {
    background-color: rgb(230, 195, 135);
    cursor:pointer;
}

.subCostBox{
    width: 10vmin;
    font-size: 3.5vmin;
    border: 2px solid black;
    border-radius: 5px;
}

.rubbish {
    margin-top: calc(0% + 6vmin);
    width: 5vmin;
}

.rubbish:hover {
    width: 4.9vmin;
    margin: calc(0% + 6vmin) 0vmin 0.1vmin 0.1vmin;
    cursor:pointer;
}

/*End of the items that we create with JS*/

#purchaseBox {
    min-height: 500px;
    width: 23%;
    padding: 5px;
    border: 3px solid rgb(176, 130, 101);
    border-radius: 5px;
    margin-right: 2px;
    margin-top: 5px;
    position: fixed;
    right: 10px;
    align-items: center;
}

#buyButton {
    position: relative;
    background-color: rgb(224, 214, 149);
    border: 3px solid rgb(176, 130, 101);
    border-radius: 5px;
}

#buyButton.cartLoaded:hover {
    background-color: rgb(230, 195, 135);
    box-sizing: content-box;
    width: 97.5%;
    margin: 0px 1.75% 0px 0.75%;
    border: 3px solid rgb(141, 90, 61);
    cursor:pointer;
}

#buyButton.emptyCart {
    background-color: rgba(224, 214, 149, 0.87);
    border: 3px solid rgba(176, 130, 101, 0.87);
    color: rgba(0, 0, 0, 0.8);
}

#buyButton.emptyCart:hover {
    background-color: rgba(224, 214, 149, 0.87);
    border: 3px solid rgba(176, 130, 101, 0.87);
    color: rgba(0, 0, 0, 0.8);
    cursor: not-allowed;
}


#costBox {
    position: relative;
    background-color: rgb(224, 214, 149);
    color:black;
    font-size: 3vmin;
    border: 3px solid rgb(176, 130, 101);
    border-radius: 5px;
    margin-top: 5px;
}

#phoneBox {
    position: relative;
    box-sizing: content-box;
    border: 3px solid rgb(176, 130, 101);
    background-color: rgb(224, 214, 149);
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

#phoneInput {
    border: none;
    background: none;
    width: 100%;
    font-size: 3vmin;
}

#deliveryBox {
    position: relative;
    display: flex;
    box-sizing: content-box;
    font-size: 2.5vmin;
    border: 3px solid rgb(176, 130, 101);
    background-color: rgb(224, 214, 149);
    padding: auto;
    border-radius: 5px;
    margin-top: 30px;
}

#deliverSubBox {
    display: flex;
    margin: auto;
}

#deliverCheck {
    box-sizing: content-box;
    width:2.5vmin;
    opacity: 1;
    color: blue;
}

#deliverCheck:hover {
    cursor: pointer;
}

#addressBox {
    position: relative;
    display: flex;
    box-sizing: content-box;
    font-size: 2.5vmin;
    border: 3px solid rgb(176, 130, 101);
    background-color: rgb(224, 214, 149);
    padding: auto;
    border-radius: 5px;
    margin-top: 5px;
}

#addressInput {
    border: none;
    background: none;
    width: 100%;
    font-size: 3vmin;
}

#clearBox { 
    background-color: rgb(224, 214, 149);
    font-size: 2.5vmin;
    border: 3px solid rgb(176, 130, 101);
    border-radius: 5px;
    margin-top: 50px;
}

#clearBox.cartLoaded:hover {
    background-color: rgb(230, 195, 135);
    box-sizing: content-box;
    width: 97.5%;
    margin: 50px 1.75% 0px 0.75%;
    border: 3px solid rgb(141, 90, 61);
    cursor:pointer;
}

#clearBox.emptyCart {
    background-color: rgba(224, 214, 149, 0.87);
    border: 3px solid rgba(176, 130, 101, 0.87);
    color: rgba(0, 0, 0, 0.8);
}

#clearBox.emptyCart:hover {
    background-color: rgba(224, 214, 149, 0.87);
    border: 3px solid rgba(176, 130, 101, 0.87);
    color: rgba(0, 0, 0, 0.8);
    cursor: not-allowed;
}