body {
    font-family:sans-serif;
}


.menubox {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    border: 2px solid;
    overflow:auto;
}

.leftmenu {
    display: flexbox;
    justify-content: space-evenly;
}

.centremenu {
    display: flexbox;
    justify-content: space-evenly;
}

.rightmenu {
    display: flexbox;
    justify-content: space-evenly;
}

.menuitem { 
    text-align: center;
    box-sizing: content-box;
    min-width: 300px;
    width: 10rem;
    padding: 0.5rem;
    border: 4px solid;
    border-radius: 30px;
    border-color: black;
    overflow:hidden;
    margin: 2rem;
    background-color: rgb(255, 245, 180);
    color: black;
    font-size: 18px;
}

.menuitem:hover {
    cursor:pointer;
}